@model Tecidolandia.Models.ViewEntities.OrdemDeVendaViewModel

<div class="col-md-2">

   
    <div class="row">
        <div class="col-md-2">
            <div>
                <span class="label label-default form-inline">Nº Venda:</span>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Venda.IdVenda)
                @Html.DisplayFor(model => model.Venda.IdVenda)
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <div>
                <span class="label label-default form-inline">Criado em:</span>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Venda.DtRegistro)
                @Html.DisplayFor(model => model.Venda.DtRegistro)

            </div>
        </div>
    </div>


</div>

