@model Tecidolandia.Models.ViewEntities.OrdemDeVendaViewModel


<div class="panel-heading text-center">
    <b>Lista de Produtos</b>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col"><label class="label label-default text-justify"> Nome </label></th>
            <th scope="col"><label class="label label-default text-justify"> Largura </label></th>
            <th scope="col"><label class="label label-default text-justify"> Altura </label></th>
            <th scope="col"><label class="label label-default text-justify"> Quantidade </label></th>
            <th scope="col"><label class="label label-default text-justify"> Valor Unitário </label></th>
            <th scope="col"><label class="label label-default text-justify"> Valor Total do Item </label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VendaItemValor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtos.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtos.Largura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtos.Altura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VlTotal)
                </td>
                <td>
                    @item.ValorTotalVenda.ToString("C")
                </td>
         
                <td>
                    @Html.ActionLink("Editar item", "Edit", new { id = item.IdVendaItem })
                        @*@Html.ActionLink("Details", "Details", new { id = item.IdVendaItem }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdVendaItem })*@
                    </td>
            </tr>
        }
    </tbody>
</table>

<div class="label label-default text-justify">
    Valor Total: @Model.Venda.VlTotal.ToString("C")
</div>