@model Tecidolandia.Models.ViewEntities.OrdemDeVendaViewModel


<div class="panel-heading text-center">
    <b>Lista de Produtos</b>
</div>
@*<h3 class="text-center">
    
</h3>*@


<table class="table" align="center">
    <tr>
        <th>
            <label class="label label-default text-justify"> &nbsp  Nome &nbsp  </label>
        </th>
        <th>
            
            <label class="label label-default text-justify"> &nbsp  Largura &nbsp  </label>
        </th>
        <th>
            
            <label class="label label-default text-justify"> &nbsp  Altura &nbsp  </label>
        </th>
        <th>
            
            <label class="label label-default text-justify"> &nbsp  Quantidade &nbsp  </label>
        </th>
        <th>
            
            <label class="label label-default text-justify"> &nbsp  Valor Unitário &nbsp  </label>
        </th>
    </tr>

    @foreach (var item in Model.VendaItem)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produtos.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtos.Largura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtos.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlTotal)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdVendaItem }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdVendaItem }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdVendaItem })
            </td>*@
        </tr>
    }

</table>


