@model Tecidolandia.Models.ViewEntities.OrdemDeVendaViewModel


<div class="text-center">
    <div><h4><b>Detalhes do Cliente </b></h4></div>
</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt class = "btn btn-xs">
            @Html.DisplayNameFor(model => model.ClienteSelecionado.NmCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSelecionado.NmCompleto)
        </dd>

        <dt class = "btn btn-xs">
            Página do Facebook:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSelecionado.Facebook)
        </dd>

        <dt class = "btn btn-xs">
            Data de Registro:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSelecionado.DtRegistro)
        </dd>

        <dt class = "btn btn-xs">
            Telefone 1:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSelecionado.NuDDDTelefone1)
        </dd>

        <dt class = "btn btn-xs">
            Telefone 2:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSelecionado.NuDDDTelefone2)
        </dd>
    </dl>
</div>
