@model IEnumerable<Tecidolandia.Models.Entities.Venda>

@{
    ViewBag.Title = "Index";
}

<h2>Vendas</h2>


<table class="table">
    <tr>
        <th>
            Vendedor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.NmStatus)
        </th>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VlTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.NmCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.NmStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendedores.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VlTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdVenda }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdVenda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdVenda })
        </td>
    </tr>
}

</table>
