@model Tecidolandia.Models.Entities.Status

@{
    ViewBag.Title = "Details";
}

<link href="@Url.Content("~/Content/EditSite.css")" rel="stylesheet" type="text/css" />

<h2>Detalhes Status - @Html.DisplayFor(model => model.NmStatus)</h2>

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NmStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NmStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusVenda)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdStatus }) |
    @Html.ActionLink("Voltar", "Index")
</p>
