@model IEnumerable<Tecidolandia.Models.Entities.Status>

@{
    ViewBag.Title = "Index";
}

<h2>Status da Venda</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NmStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusVenda)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NmStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusVenda)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdStatus }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdStatus }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdStatus })
        </td>
    </tr>
}

</table>
