@model Tecidolandia.Models.Entities.Telefone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NmCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NmCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ddd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ddd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NuTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NuTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTelefone }) |
    @Html.ActionLink("Back to List", "Index")
</p>
