@model IEnumerable<Tecidolandia.Models.Entities.Telefone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.NmCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendedor.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ddd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NuTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NmCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendedor.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ddd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NuTelefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTelefone }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTelefone }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTelefone })
        </td>
    </tr>
}

</table>
