@model Tecidolandia.Models.Entities.Vendedor

@{
    ViewBag.Title = "Details";
}

<link href="@Url.Content("~/Content/EditSite.css")" rel="stylesheet" type="text/css" />

<h2>Detalhes do Vendedor - @Html.DisplayFor(model => model.Nome)</h2>

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DtNasc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtNasc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdVendedor }) |
    @Html.ActionLink("Voltar", "Index")
</p>
