@model IEnumerable<Tecidolandia.Models.Entities.Vendedor>

@{
    ViewBag.Title = "Index";
}

<h2>Vendendores</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtNasc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtNasc)
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id = item.IdVendedor }, new { @class = "glyphicon glyphicon-pencil" })
            &nbsp
            @Html.ActionLink(" ", "Details", new { id = item.IdVendedor }, new { @class = "glyphicon glyphicon-option-horizontal" })
            &nbsp
            @Html.ActionLink(" ", "Delete", new { id = item.IdVendedor }, new { @class = "glyphicon glyphicon-trash" })
        </td>
    </tr>
}

</table>
