@model IEnumerable<Tecidolandia.Models.Entities.Produto>

@{
    ViewBag.Title = "Index";
}

<h2>Cadastrar Produto</h2>

<p>
    @Html.ActionLink("Criar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoEstampas.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Largura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoEstampas.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Largura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtRegistro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdProduto }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdProduto }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdProduto })
        </td>
    </tr>
}

</table>
