@model IEnumerable<Tecidolandia.Models.Entities.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NmCompleto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NmCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtRegistro)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
